html {
    margin: 0px;
    padding: 0px;
    background: url("/images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

div.ship {
    width: 650px;
    display: block;
    margin: 0px auto;
    margin-top: 13px;
}

div.masteries {
    float: left;
    width: 400px;
    background-color: white;
}

div.mastery {
    margin-left: 18px;
    margin-right: 18px;
}

h2.mastery-level {
    text-align: center;
    background-color: #4c7bc1;
}

ul.certificates {
    list-style: none;
}

div.ship-info {
    float: right;
    width: 250px;
    background-color: #bb8c46;
}

h1.ship-name {
    text-align: center;
}