html {
    margin: 0px;
    padding: 0px;
    background: url("/images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    padding-top: 18px;
    padding-bottom: 13px;
}

div.ship {
    width: 650px;
    display: block;
    margin: 0px auto;
}

div.masteries {
    float: left;
    width: 400px;
    background-color: #ddd;
    color: #333;
}

div.mastery {
    margin-left: 18px;
    margin-right: 18px;
}

h2.mastery-level {
    text-align: center;
    background-color: #6c9be1;
}

ul.certificates {
    list-style: none;
}

li.certificate {
    cursor: pointer;
}

div.ship-info {
    float: right;
    width: 250px;
    color: white;
    background-color: #373737;
}

h1.ship-name {
    text-align: center;
}

div.ship-desc {
    margin-left: 6px;
    margin-bottom: 16px;
}